// Copia aquest fitxer com a "secrets.h" i omple les credencials
// NO pugis secrets.h a GitHub!

#define SECRET_WIFI_SSID     "NOM_XARXA_WIFI"
#define SECRET_WIFI_PASSWORD "CONTRASENYA_WIFI"
#define SECRET_SUPABASE_KEY  "sb_secret_XXXXXXXXXXXXXXXXXXXXXXXXX"
